2-4. device control.json
{
  "name": "2-4. device control",
  "nodes": [
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        680,
        -20
      ],
      "id": "3f4406ff-29a0-4179-b03c-494fab226453",
      "name": "Wait",
      "webhookId": "16be1683-19ca-4928-add5-dcf2401fc642"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onem2m-notify",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        -20
      ],
      "id": "d5e3a16b-7a58-496d-b4ed-13a5b1cfc71c",
      "name": "noti receiver",
      "webhookId": "9bf314be-4e18-46c9-a4fa-54f0928d0586"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0112b13b-b84c-486b-bb0f-7d39fc945708",
              "leftValue": "={{ $json.body[\"m2m:sgn\"].nev.rep[\"m2m:cin\"].con.temperature }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "8d6c18f0-258e-45fc-96e7-97e9e22d368c",
              "leftValue": "={{ $json.body[\"m2m:sgn\"].nev.rep[\"m2m:cin\"].con.humidity }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        -20
      ],
      "id": "d8d9d2a4-d727-4c28-a724-4d09d35ccc2d",
      "name": "if conditions meet"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"to\": \"Mobius/airconditioner1/control\",\n    \"fr\": \"CAE1\",\n    \"rqi\": \"1234\",\n    \"rvi\": \"2a\",\n    \"op\": 1,\n    \"ty\": 4,\n    \"pc\": \n    {\n      \"m2m:cin\": {\n        \"rn\": \"cin-0001\",\n        \"con\": {\n        \t\"power\": \"on\",\n        \t\"mode\": \"cooling\",\n        \t\"setTemperature\": 21\n        }\n      }\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -100
      ],
      "id": "db78b911-6fd9-4fbe-a964-321173e51e08",
      "name": "prepare control msg"
    },
    {
      "parameters": {
        "chatId": "5597845206",
        "text": "=now the aircon is {{ $json[\"m2m:cin\"].con.power }}!\ncurrent temperature is now {{ $json[\"m2m:cin\"].con.temperature }}.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -20
      ],
      "id": "d2f9e11d-1adc-4a21-9635-b3ee2c1bb7a1",
      "name": "Send aircon status over telegram",
      "webhookId": "f542f0a5-b25b-46f5-85ff-cebeed4774c0",
      "credentials": {
        "telegramApi": {
          "id": "iPKgetwri6K0srBZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:7579/Mobius/airconditioner1/status/la",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-M2M-RI",
              "value": "delayedReq1"
            },
            {
              "name": "X-M2M-Origin",
              "value": "SAE1"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        -20
      ],
      "id": "8b0b47c8-56cc-4418-a0a4-f72224ec0793",
      "name": "get aircon status"
    },
    {
      "parameters": {
        "topic": "/oneM2M/req/SAE1/Mobius2/json",
        "options": {}
      },
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [
        680,
        -160
      ],
      "id": "9bc74cc3-b53e-4316-bae7-76c108ab5620",
      "name": "send control msg",
      "credentials": {
        "mqtt": {
          "id": "RnXusSg65MPVKOJF",
          "name": "MQTT account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "get aircon status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "noti receiver": {
      "main": [
        [
          {
            "node": "if conditions meet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if conditions meet": {
      "main": [
        [
          {
            "node": "prepare control msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare control msg": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "send control msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get aircon status": {
      "main": [
        [
          {
            "node": "Send aircon status over telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3a4d108-3c31-481b-abdf-5888a27d7bde",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aac6b4883ab777d8d4ab4f95aa56735af35743cd865ae7cb70216d33c751baf"
  },
  "id": "wqNa6zq6g6D2pF4K",
  "tags": []
}